*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
section{
    display: flex;
    flex-flow: row;
}
div{
    height: 200px;
    width: 33.3%;
    min-width: 250px;
    text-align: center;
    padding-top: 90px;
    opacity: .5;
    transition: .4s all ease;
}
div a{

    text-decoration: none;
    color: dimgray;
    font-size: 60px;
    font-weight: 100;
    transition: .2s all ease;
}
div:hover, div:hover a{
    opacity: 1;
    color: rgb(50, 50, 50);
    transform: translateY(15px) scale(1.1);


}
#first{
    background-color: rgba(255, 86, 80);

}
#sec{
    background-color: rgba(227, 222, 40);
}
#map{
    background-color: rgba(36, 183, 84);
}